@font-face {
  font-family: 'Akira';
  src: url('./../fonts/AkiraExpanded-SuperBold.woff2') format('woff2'),
      url('./../fonts/AkiraExpanded-SuperBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  overflow:hidden;
  font-family: 'Akira',sans-serif;
  text-transform: uppercase;
}

/* Canvas */
#canvas{
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}

/* Curtains */
#curtain{
  position: absolute;
  left:0;
  top:0;
  display: none;
  height: 100vh;
  width: 100%;
  background: #8ee4af;
  z-index:1000;
}
#curtain1{
  position: relative;
  top:30vh;
  left:0;
  height:100vh;
  background:#05386b;
}

/* Pages */
#home,#contact,#about{
  height:100vh;
  width:100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

/* Scrollbar */
#home::-webkit-scrollbar, 
#about::-webkit-scrollbar,
#contact::-webkit-scrollbar{
  display: none;
}

/* Navbar */
.navbar{
  width:100%;
  padding:20px 50px 20px 20px;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar a{
  text-decoration: none;
  color:#05386b;
  margin:0 25px 0 25px;
  font-size: 20px;
  cursor: pointer;
  transition:0.5s ease-out;
}
.navbar a:hover{
  transition:0.3s ease-in;
  border-bottom: 1px solid #edf5e1;
  color:#edf5e1;
}
.navbar p{
  flex:1;
  font-size: 20px;
  justify-self: flex-start;
}

/* Home */
#home .content{
  height:100vh;
  width:100%;
}
#home .content .header{
  position: relative;
  top:40vh;
  left:10%;
  font-size: 26px;
  color:#edf5e1;
}

/* About */
#about .content{
  width:100%;
}
#about .content .info{
  padding: 10% 15% 15% 15%;
  font-size: 18px;
  color:#edf5e1;
  line-height: 45px;
}
#about .content .info .sec1{
  padding: 0 0 50px 0;
  color:#05386b;
}
#about .content .info .sec1 a{
  color:#05386b;
  cursor: pointer;
}
#about .content .info .sec2{
  font-size: 15px;
  padding: 0 0 50px 0;
}
#about .content .info .sec3{
  font-size: 15px;
  color:#05386b;
  padding: 0 0 50px 0;
}

/* Contact */
#contact .content{
  width:100%;
  padding: 12% 15% 15% 20%;
  color:#edf5e1;
  line-height: 60px;
}
#contact .content .head{
  color:#05386b;
}